{% extends 'base/base.html' %}

{% block content %}
{% load bootstrap %}
{{ form.media }}
<div class="row">
	<h1>Beslutningsverktøy for delelager</h1>
</div>

<div class="row">
	<div class="col-sm-12">
	<form role="form" method="POST" enctype="multipart/form-data" />
	{% csrf_token %}
	<div class="row">
	<div class="col-sm-6">
	{{ form.art_nr|bootstrap }}
</div>
<div class="col-sm-6">
	{{ form.pris|bootstrap }}
</div>
</div>
	<div class="row">
	<div class="col-sm-6">
	{{ form.leveringstid|bootstrap }}
</div>
<div class="col-sm-6">
	{{ form.sist_byttet|bootstrap }}
</div>
</div>
	<div class="row">
	<div class="col-sm-6">
	{{ form.planlagt_byttet|bootstrap }}
</div>
<div class="col-sm-6">
	{{ form.skal_byttes|bootstrap }}
</div>
</div>
	<div class="row">
	<div class="col-sm-6">
	{{ form.type_levetid|bootstrap }}
</div>
<div class="col-sm-6">
	{{ form.levetid_aar|bootstrap }}
</div>
</div>
	<div class="row">
	<div class="col-sm-6" style="margin-bottom:40px;">
	{{ form.forbrenning_konsekvens|bootstrap }}
</div>

	<div class="col-sm-6" style="display: none;" id="gradforbrenning">
	{{ form.forbrenning_grad|bootstrap }}
</div>
</div>
	<div class="row">
<div class="col-sm-6" style="margin-bottom:40px">
	{{ form.stromprod_konsekvens|bootstrap }}
</div>
<div class="col-sm-6" style="display: none;" id="gradstrom">
	{{ form.stromprod_grad|bootstrap }}
</div>
</div>
	<div class="row">
	<div class="col-sm-6">
	{{ form.kost_alternativ_drift|bootstrap }}
</div>
</div>
	<button type="SUMBIT" class="btn btn-primary">Send</button>
	<button type="RESET" class="btn btn-secondary">Tøm skjema</button>

</form>

	</div>
</div>

<div class="row">
	<div class="col-sm-12" style="margin-top: 50px;">
		<h3>Rapport</h3>
	</div>
</div>

{% endblock %}